@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent-purple: #744FC6;
  --color-accent-orange: #EF8354;
  --color-accent-mint: #85FF9E;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
}
